tr,th,td{
    border: 1px solid;
}
table{
    border-collapse: collapse;
}
button{
    border: 2px solid green;
    padding: 5px;
    border-radius: 8px;
}
button:hover{
    background-color: green;
    color: white;
}
input{
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}