<h2>My First Angular Application</h2>

<!-- <app-emplpoyee></app-emplpoyee> -->
 <!-- <app-stringinterpolation></app-stringinterpolation> -->
<!-- <app-propertybinding></app-propertybinding> -->
 <!-- <app-stylebinding></app-stylebinding> -->
  <!-- <app-classbinding></app-classbinding> -->
<!-- <app-eventbinding></app-eventbinding> -->
 <!-- <app-eventbinding1></app-eventbinding1> -->
  <!-- <app-evnetbiding3></app-evnetbiding3> -->
<!-- <app-evnetbiding2></app-evnetbiding2> -->
 <!-- <app-eventbinding4></app-eventbinding4> -->
<!-- <app-ifdirective></app-ifdirective> -->
 <!-- <app-fordirective></app-fordirective> -->
<!-- <app-switch-directive></app-switch-directive> -->

<!-- <input type="number" (change)="onChange($event)"  placeholder="Enter the Number">

<hr> -->

<!-- <app-parent [appNumData]="num1" ></app-parent> -->

<!-- <app-parent1></app-parent1> -->
 <!-- <app-parent2></app-parent2> -->
<!-- <app-inbuiltpipe></app-inbuiltpipe> -->
<!-- <app-custompipe></app-custompipe> -->
<!-- <app-course></app-course> -->
<!-- <app-post></app-post> -->

<!-- <app-notification></app-notification>
<hr>
<app-home></app-home> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-demobootstrap></app-demobootstrap> -->
<!-- <app-demotdf></app-demotdf> -->
 <app-reactiveforms></app-reactiveforms>